
  .greeting {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    background-color: #98ded9;
    margin-right: 4%;
    box-shadow: 5px 10px 8px #888888;
    border-bottom: 5px solid #443737;
  }
  h1 {
    font-family: 'Montserrat', sans-serif;
    color: #443737;
    font-family: 'Londrina Solid', cursive;
    font-size: 40px;
    letter-spacing: 1.5;
    text-align: center;
  }
  p {
    background-color: white;
    box-shadow: 5px 10px 8px #888888;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    padding: 3%;
    margin-right: 4%;
  }
    main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #bedbbb;
  }
  
  .pic {
    width: 400px;
    margin-top: 0;
    box-shadow: 5px 10px 8px #888888;
    filter: brightness(130%);
    justify-self: flex-start;
   }
   .animate__fadeInDown {
      animation-duration: 2s;
      animation-delay: 3s;
      -webkit-animation-delay: 3s;
      -webkit-animation-duration: 2s;
      -moz-animation-delay: 3s;
      -moz-animation-duration: 2s;
   }
   .animate__fadeInLeft {
    animation-duration: 3s;
    animation-delay: 4.5s;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 4.5s;
    -moz-animation-duration: 3s;
    -moz-animation-delay: 4.5s;
   }
   .animate__fadeIn {
     animation-duration: 5s;
     -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
   }

  
   @media only screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }
  
  .pic {
    margin: 4% auto;
    width: 70%;
  }
  
  p {
    margin: 10%;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 3%;
  }
h1 {
  font-size: 25px;
}
.greeting {
  width: 100%;
  border-bottom: 5px solid #443737;
}
.pic {
  width: 50%;
}
p {
 width: 100%;
 margin: 0;
}
   }
  