/* Begin stylesheet for all pages */
body {
  font-family: Lato, Arial, sans-serif;
  background-color: #98ded9;
  }
  nav a {
    color: #98ded9;
    text-align: center;
    text-decoration: none;
    margin: 3%;
    font-size: 20px;
  }
  .topnav a.icon {
    display: none;
  }
  footer {
    background-color: #252525;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
  }

  a:hover {
    color: #bedbbb;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #myLinks {
    width: 500px;
  }
  /* This is an ID selector */
  
  .profile-pic {
    width: 230px;
    height: 230px;
    margin: 2% auto;
    grid-column: 2/3;
    border-radius: 50%;
    box-shadow: 40px 1px #bedbbb;
    background-image: url('./myProfilePic.jpg');
    background-size: cover;
    background-position: 80%;
  }


  .contact {
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }
  .copywrapper {
    display: flex;
    align-items: center;
  }
  footer a {
    margin: 5%;
    padding: 0 1%;
    color: #98ded9;
  }
  footer a:hover {
    color: #bedbbb
  }
  header {
    background-color: #272121;
    }

  .home {
    color: #bedbbb;
  }
  .home:hover {
    color: #98ded9;
  }
/* mobile style for all pages */
@media only screen and (max-width: 600px) { 
  .topnav #myLinks {
    display: none;
  }
  main, footer {
    display: flex;
    flex-direction: column;
  }
  footer {
    padding-top: 5%;
  }
  nav a {
    font-size: 15px;
  }
  .topnav {
    flex-direction: column;
  }
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  #myLinks a {
    border: 1px solid #bedbbb;
    margin: 1px;
    padding: 10px;
    width: 100%;
  }
  /* end mobile style for all pages */
}