/* Begin stylesheet for all pages */
body {
  font-family: Lato, Arial, sans-serif;
  background-color: #98ded9;
  }
  nav a {
    color: #98ded9;
    text-align: center;
    text-decoration: none;
    margin: 3%;
    font-size: 20px;
  }
  .topnav a.icon {
    display: none;
  }
  footer {
    background-color: #252525;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
  }
  a {
    transition: all ease 0.5s;
  }
  a:hover {
    color: #bedbbb;
    transform: scale(1.2);
  }
  a:active {
    color: white;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #myLinks {
    width: 500px;
  }
  /* This is an ID selector */
  
  .profile-pic {
    width: 300px;
    height: 300px;
    margin: 2% auto 0 auto;
    grid-column: 2/3;
    border-radius: 50%;
    border-left: 50px solid #443737;
    box-shadow: 20px 1px 10px #443737;
    background-image: url('./myProfilePic.jpg');
    background-size: cover;
    background-position: center;
  }
  .contact {
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }
  .copywrapper {
    display: flex;
    align-items: center;
  }
  footer a {
    margin: 5%;
    padding: 0 1%;
    color: #98ded9;
  }
  footer a:hover {
    color: #bedbbb
  }
  header {
    background-color: #272121;
    }
  .home {
    color: #bedbbb;
  }
  .home:hover {
    color: #98ded9;
  }
/* mobile style for all pages */
@media only screen and (max-width: 600px) { 
  a:hover {
    transform: none;
  }
  .topnav a:active {
    background-color: #98ded9;
  }
  .topnav #myLinks {
    display: none;
  }
  main, footer {
    display: flex;
    flex-direction: column;
  }
  footer {
    padding-top: 5%;
  }
  nav a {
    font-size: 20px;
  }
  .topnav {
    flex-direction: column;
  }
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  #myLinks a {
    border-top: 1px solid #bedbbb;
    margin: 0 auto;
    padding: 10px;
    width: 100vw;
    background-color: #443737;
  }
  #myLinks {
    width: 100vw;
  }
  .profile-pic {
    width: 230px;
    height: 230px;
  }
  /* end mobile style for all pages */
}

@media only screen and (min-width: 601px) {
#myLinks {
  animation:none;
}
}