
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #98ded9;
    padding: 2%;
}

.container {
  width: 300px;
  height: 300px;
  margin: 10px;
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 5px #272727;
}
.container:hover {
  box-shadow: 5px 5px 5px #bed989;
  outline: 2px solid  #bed989;
}
.nasa {
 background-image: url('./images/nasa.png');
}
.responsive {
  background-image: url('./images/responsive.png');
 }
 .gallery {
  background-image: url('./images/gallery.png');
  background-position: 10% 20%;
 }
 .barber {
  background-image: url('./images/barber.png');
 }
 .ttt {
  background-image: url('./images/ttt.png');
  background-position: top;
 }
.star {
  background-image: url('./images/star.png');
}
 .calc {
  background-image: url('./images/calc.png');
 }
 .todo {
  background-image: url('./images/todo.png');
 }
  
  @media only screen and (max-width: 600px) {
      main {
          flex-direction: column;
          align-items: center;
      }
  }