
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #98ded9;
    padding-top: 2%;
}

.container {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  margin: 10px;
  background-size: cover;
  background-position: center;
}
.nasa {
 background-image: url('./images/nasa.png');
}
.responsive {
  background-image: url('./images/responsive.png');
 }
 .gallery {
  background-image: url('./images/gallery.png');
 }
 .barber {
  background-image: url('./images/barber.png');
 }
 .ttt {
  background-image: url('./images/ttt.png');
  background-position: top;
 }
 .calc {
  background-image: url('./images/calc.png');
 }
  
  @media only screen and (max-width: 600px) {
      main {
          flex-direction: column;
          align-items: center;
      }
  }