.contact {
    color: white;
}
.contact a {
    color: white;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 5%;
    padding-left: 30px;
}
.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5%;
}
section.img {
    background-color: red;
    grid-row: 1/3;
    background-image: url(./images/michael-fares.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 10%;
}
section.contact1 {
    grid-row: 3/-1;
}
section.header {
    grid-column: 2/-1;
}
section.personal-summary {
    grid-row: 2/3;
    grid-column: 2/3;
}
section.skills {
    grid-row: 2/3;
    grid-column: 3/-1;
}
section.work-history {
    grid-column: 2/3;
    grid-row: 3/4;
}
section.work-bullets {
grid-column: 3/-1;    
grid-row: 3/4;
}
section.education {
    grid-row: 4/5;
    grid-column: 2/3;
}
section.education-bullets {
    grid-row: 4/5;
    grid-column: 3/-1;
}
section.education2 {
    grid-row: 5/-1;
    grid-column: 2/3;
}
section.education2-bullets {
    grid-row: 5/-1;
    grid-column: 3/-1;
}
#header {
    background-color: #98ded9;
    display: flex;
    justify-content: center;
}
#contact {
    background-color: #443737;
    padding: 8%;
}
.maincontainer {
    height: auto;
    display: grid;
    grid-template-columns: 25% 1fr 1fr;
    grid-template-rows: 15% 1fr 1fr 1fr 1fr;
}
h1.underlined {
    font-size: 50px;
    border-bottom: 2px solid #443737;
}
p.subheading {
    padding: 20px 0 20px 0;
    font-size: 20px;
}
.maincontainer section {
    background-color: #bedbbb;
    color: #272121;
    transition: all 1s;
}
.maincontainer section:hover {
    background-color: #98ded9;
    padding-left: 8%;
}
.padded {
    padding-top: 5%;
}
.borderbottom {
    border-bottom: 1px solid #443737;
}
.bigtext {
    font-size: 25px;
    text-shadow: 5px 5px 10px yellow;
}
.borderright {
    border-right: 1px solid #443737;
}
.list ul {
    font-size: 14px;
   padding-right: 5%;
}
h3 {
    margin-bottom: 10px;
}
.contact {
    margin-top: 5%;
}
@media only screen and (max-width: 812px) {
   .maincontainer {
       display: flex;
       flex-direction: column;
   } 
   #header, #contact {
    align-items: center;
    padding: 4%;
   }
   #header {
       background-color: #bedbbb;
   }
section.img {
    height: 250px;
    width: 200px;
    margin: 0 auto;
    border: 1px solid #272121;
    border-top:none;
}
}
@media only screen and (max-width: 600px) {
  h1.underlined {
      font-size: 40px;
  }
  p.subheading {
      font-size: 16px;
  }
 }