body {
    font-family: Lato, Arial, sans-serif;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    }
  nav > a {
    color: #98ded9;
    text-align: center;
    text-decoration: none;
    margin: 3%;
    font-size: 20px;
  }

  footer {
    background-color: #252525;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto; */
  }

  a:hover {
    color: #bedbbb;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* This is an ID selector */
  
  .profile-pic {
    width: 230px;
    height: 230px;
    margin: 2% auto;
    grid-column: 2/3;
    border-radius: 50%;
    box-shadow: 40px 1px #bedbbb;
    background-image: url('./myProfilePic.jpg');
    background-size: cover;
    background-position: 80%;
  }


  .contact, li {
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }
  .copywrapper {
    display: flex;
    align-items: center;
  }
  footer a {
    margin: 5%;
    padding: 0 1%;
    color: #98ded9;
  }
  footer a:hover {
    color: #bedbbb
  }
  header {
    background-color: #272121;
    }
  main {
    height: auto;
    margin: 0;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.6); 
    }
    h1 {
      color:#272121;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
    }
  
    h2 {
      margin: 2% auto;
      font-style: italic;
      text-align: center;
      color: #272121;
      font-family: 'Montserrat', sans-serif;
    }

  @media only screen and (max-width: 600px) { 

    main, footer {
      display: flex;
      flex-direction: column;
    }
    footer {
      padding-top: 5%;
    }
    nav > a {
      font-size: 15px;
    }
  }
