/* Begin stylesheet for all pages */
body {
    font-family: Lato, Arial, sans-serif;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    }
/* end stylesheet for all pages */
  main {
    height: auto;
    margin: 0;
    padding: 1%;
    background-color: rgba(152, 222, 217, 0.7); 
    }
    h1 {
      color:#272121;
      text-align: center;
      font-family: 'Londrina Solid', cursive;
      font-size: 90px;
    }
  
    h2 {
      margin: 2% auto;
      font-style: italic;
      text-align: center;
      color: #272121;
      font-family: 'Montserrat', sans-serif;
    }
